@import "bootstrap-sprockets";
@import "bootstrap";
html {
  position: relative;
  height: 100%;
}
body {
	font-family: 'Libre Baskerville', serif;
	padding-top: 50px;
}
.flash-success {
	margin: 0 20px;
	border-radius: 5px;
	background-color: lightgreen;
	color: green;
}
.flash-error {
	margin: 0 20px;
	border-radius: 5px;
	background-color: lightred;
	color: red;
}
.Floral {
	background-color: rgb(255, 92, 197);
}
.Citrus {
	background-color: rgb(255, 168, 66);
}
.ApplePear {
	background-color: rgb(66, 217, 13);
}
.Melon {
	background-color: rgb(98, 255, 160);
}
.Grape {
	background-color: rgb(119, 217, 67);
}
.TropicalFruit {
	background-color: rgb(255, 244, 0);
}
.StoneFruit {
	background-color: rgb(255, 124, 0);
}
.Berry {
	background-color: rgb(208, 27, 232);
}
.DriedFruit {
	background-color: rgb(184, 83, 12);
}
.Chocolate {
	background-color: rgb(97, 55, 3);
}
.SweetandSugary {
	background-color: rgb(255, 254, 229);
}
.Nutty {
	background-color: rgb(143, 82, 5);
}
.GrainCereal {
	background-color: rgb(196, 126, 166);
}
.Roast {
	background-color: rgb(76, 50, 0);
}
.Spice {
	background-color: rgb(255, 0 , 33);
}
.Savory {
	background-color: rgb(132, 21, 7);
}
.Earthy {
	background-color: rgb(66, 36, 0);
}
.Vegetal {
	background-color: rgb(43, 71, 0);
}
.Herbal {
	background-color: rgb(21, 151, 20);
}
video {
	position: relative;
	size: 100%;
}
@media (max-width: 767px) {
	#welcome {
		background-image: url("poster.png");
		size: 100%;
		h1 {
			font-size: 75px;
		}
	}
}
#welcome {
	position: absolute;
	top: 25%;
	margin: 0 auto;
	right: 0;
	left: 0;
	text-align: center;
	z-index: 10;
	h1 {
		font-size: 110px;
		color: #1B8184;
	}
	h3 {
		font-size: 55px;
		color: #E0592A;
	}
}
.navbar-default .navbar-brand {
	color: #1B8184;
}
a.navbar-brand {
	font-weight: bold;
}
.navbar-default p.navbar-text {
	color: #E0592A;
}
.bean-flavors {
	display: block;
	margin: 15px 10px;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50%;
		font-size: 20px;
	}
	a {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25%;
	}
}
div.company-logo {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}
div.each-company {
	border-radius: 10px;
	text-align: center;
	position: relative;
  	min-height: 1px;
  	padding-left: 15px;
  	padding-right: 15px;
  	img {
  		vertical-align: middle;
  	}
  	.img-responsive {
  	  display: block;
	  width: 100%;
	  height: 300px;
  	}
}
.bean-btn {
	background-color: #1B8184;
	color: white;
}
.home-btn {
	background-color: #E0592A;
	color: white;
}
#bean-name {
	text-align: center;
	margin-bottom: 30px;
	color: #1B8184;
}
.each-bean {
	padding-left: 15%;
	margin-top: 8%;
}
.footer {
	background: #1B8184;
	color: white;
	line-height: 30px;
	padding: 15px;
}
div.each-roaster {
	padding: 30px 0;
	text-align: center;
	display: block;
	margin: 0 20px;
}
div.list-bean {
	position: relative;
	padding: 0 15px;
	display: block;
	a {
		padding: 15px 0;
		width: 100%
	}
}
div.add-bean {
	margin: 0 15px;
	a {
		width: 100%;
	}
}
#show-roaster {
	text-align: center;
}
.each-coffee {
	padding: 30px 0;
	text-align: center;
	border: 2px solid #1B8184;
	display: block;
	border-radius: 20px;
	margin: 0 20px;
}
.company-caption {
	margin-bottom: 20px;
}
.this-bean {
	text-align: center;
	margin: 20px 0;
	border: 2px solid #1B8184;
	border-radius: 10px;
}
.add-flavor-form {
	margin: 0 20px 30px 30px;
}
.push {
	height: 60px;
	width: 100%;
}  
#footer {
  background-color: #1B8184;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: right;
  li {
  	display: inline-block;
  }
}
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/




