<div id="container">
	<div id="footer">
		<%= render_shareable :buttons=> ['twitter', 'facebook', 'tumblr'] %>
		<%= render_shareable :turbolinks => true, :facebook => {:turbolinks => false} %>
	</div>
</div>