<% @company.beans.each do |bean| %>
<div class="each-bean">
		<h2><%= link_to bean.name, beanformed_company_bean_path(@company.id, bean.id) %></h2>
		<% if @current_user.role == "admin" %>
		<%= link_to "Edit", edit_beanformed_company_bean_path(@company.id, bean.id) %>
	    <%= link_to 'Delete', beanformed_company_bean_path(@company.id, bean.id), :method => :delete, :confirm => "Are you sure you want to delete this coffee bean profile?" %>
	    <% end %>

		<br>
<% end %>
</div>

<!-- start SPA here or in company index
put flavor notes in here! -->