<div id="container">
	<video width="100%" autoplay loop muted>
	   <source src="https://scontent-iad3-1.cdninstagram.com/hphotos-xaf1/t50.2886-16/11013810_894235330598485_1747899148_n.mp4">
	   <img src="<%= asset_path('poster.png') %>" title="Video is not supported on mobile devices/this browser.">
	</video>
	<div id="welcome">
		<h1>BeanFormed</h1>
		<h3>Be Informed About Your Bean</h3>
	</div>
</div>



